#textdescription {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #333;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    shape-outside: circle(); /* set shape to circle */
    clip-path: circle(); /* set clip path to circle */
  }
  
  .hover-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}


/* Add some spacing between the form container and other elements */
.hover-panel  + * {
  margin-left: 20px;
  margin-right: 20px;
}


/* Form fields */
.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="month"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit button */
.form-container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #0069d9;
}